include LICENSE
include README.md
include src/ushuffle.c
include src/ushuffle.h
include ushuffle_mod.pxd
include ushuffle.pyx
include ushuffle_cython.c
exclude ushuffle.c
exclude ushuffle.so

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif